beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.7
idna==3.11
packaging==26.1
pyaes==1.6.1
pyasn1==0.6.3
python-dotenv==1.2.2
requests==2.33.1
rsa==4.9.1
soupsieve==2.8.3
Telethon==1.43.1
typing_extensions==4.15.0
urllib3==2.7.0
