beautifulsoup4==4.14.3
certifi==2025.8.3
charset-normalizer==3.4.3
gitdb==4.0.12
GitPython==3.1.45
idna==3.10
packaging==26.0
pyaes==1.6.1
pyasn1==0.6.2
python-dotenv==1.2.2
requests==2.32.5
rsa==4.9.1
smmap==5.0.2
soupsieve==2.7
Telethon==1.42.0
typing_extensions==4.14.1
urllib3==2.5.0
